<% provide(:titulo, "Contacto") %>
<h1>Estaticas#contacto</h1>
<p>Find me in app/views/estaticas/contacto.html.erb</p>

<p>ID: <%= params['id'] %></p>
<p>PÁG: <%= params[:pagina] %></p>

<br>

<p>ID: <%= @id %></p>
<p>PÁG: <%= @pag %></p>